body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to left,#f4f6f8, #E4FCC0);    
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center; 
    align-items: center;     
}

h1 {
    text-align: center;
    margin-bottom: 24px;
    color: #4646e5;
}
p {
    text-align: center;
    margin-bottom: 30px;
    color: #4646e5;
}

.card {
    background: none;
    box-shadow: none;
    padding: 0;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 6px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button, .nav-btn {
    text-align: center;
    display: inline-block;
    padding: 10px 18px;
    border: none;
    background: #B9B9FF;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;

    /* 🔥 animasyon için */
    transition: all 0.3s ease;
}

button:hover, .nav-btn:hover {
    background: #B9B9FF;

    /* 🔥 shadow efekti */
    box-shadow: 0 10px 25px rgba(64, 64, 216, 0.5);

    /* 🔥 hafif yukarı kalkma efekti */
    transform: translateY(-3px);
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.image-grid img {
    width: 100%;
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: block;
}