body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to left,#f4f6f8, #E4FCC0);    
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
    color: #4646e5;
}
p {
    text-align: center;
    margin-bottom: 30px;
    color: #4646e5;
}

.card {
    background: none;
    box-shadow: none;
    padding: 0;

    display: flex;              
    justify-content: center;    
    gap: 15px;                  
    flex-wrap: wrap;            
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 6px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button, .nav-btn {
    text-align: center;
    display: inline-block;
    padding: 10px 18px;
    border: none;
    background: #B9B9FF;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    transition: all 0.3s ease;
}

button:hover, .nav-btn:hover {
    color: #4646e5;
    background: #B9B9FF;
    box-shadow: 0 5px 5px rgba(64, 64, 216, 0.5);
    transform: translateY(-3px);
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.image-grid img {
    width: 100%;
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: block;
}

nav {
    background: #B9B9FF;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #4646e5;
    transition: all 0.3s ease;;
}
.logo {
    position: fixed;   /* sayfada sabit kalır */
    top: 20px;         /* yukarıdan boşluk */
    left: 50px;        /* soldan boşluk */
    width: 80px;       /* boyut */
    height: auto;
    z-index: 1000;     /* üstte kalır */
}

.card {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    margin: auto;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

.subtitle {
    margin-bottom: 10px;
    color: #333;
}

.upload-box {
    display: block;
    border: 2px dashed #8b8bff;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s;
}

.upload-box:hover {
    background: rgba(139,139,255,0.1);
    border-color: #5a5aff;
}

.select-box {
    width: 100%;
    padding: 50px;
    border-radius: 100px;
    border: none;
    margin-bottom: 20px;
}

.nav-btn {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(45deg, #7f7fff, #5ad1ff);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.nav-btn:hover {
    transform: scale(1.05);
}