<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Upload Screen</h1>

        <div class="card">
            
            <form action="/upload" method="POST" enctype="multipart/form-data">

                <label>Upload your choosen image!</label>
                <input type="file" name="original" accept="image/*" required>
                
                <label> Select a transformation!</label>

            <select name="operation" class="select-box">
                <option>Smile Enhancement</option>
                <option>Eyebrow Raising</option>
                <option>Lip Widening</option>
                <option>Face Slimming</option>
                <option>Aging</option>
                <option>De-Aging</option>
            </select>
            
                <button type="submit" class="nav-btn">
                    Upload & Continue
                </button>

            </form>

        </div>
    </div>

</body>
</html>